:root {
  --background-color: #000000;
  --page-width: 60em;
  --font-color: #e8e9ed;
  --invert-font-color: #222225;
  --secondary-color: #a3abba;
  --tertiary-color: #a3abba;
  --primary-color: #9462ff;
  --error-color: #ff3c74;
  --progress-bar-background: #3f3f44;
  --progress-bar-fill: #62c4ff;
  --code-bg-color: #3f3f44;
  --dimmed-color: #636b7a;
}

footer {
  text-align: right;
  margin-top: calc(var(--global-space) * 2);
  padding: calc(var(--global-space) * 2) 0;
  border-top: 1px dashed var(--dimmed-color);
}

code {
  background-color: var(--background-color);
}

pre {
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-left: 1px dashed var(--dimmed-color);
}

pre code {
  padding: 0;
  padding-left: var(--global-space);
  background-color: var(--background-color) !important;
}

.terminal-nav {
  border-bottom: 1px dashed var(--dimmed-color);
}

.dimmed {
  color: #636b7a;
}

.header {
  margin-top: calc(var(--global-space) * 2);
  margin-bottom: calc(var(--global-space) * 4);
}

.rest {
  display:none;
  height:auto;
  margin:0;
}

.all:target {
  display: none;
}
.all:target ~ .rest {
  display:block;
}
