  <head>
    <title>
      {% if page.title %}{{ page.title }} - {% endif %}
      {{ site.title }}
    </title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.4/dist/terminal.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/tokyo-night-dark.min.css">
    <link rel="stylesheet" href="/custom.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  </head>
